/* Reset simples */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fundo */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #55f3e1, #62d6dc);
}

/* Caixa de login */
.login-container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: border 0.3s;
}

.input-group input:focus {
    border: 1px solid #4facfe;
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    background: #118787;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #007adf;
}

/* Mensagem de erro */
#error-message {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}
